#map {
    height: 600px;
    width: 90%;
    align-items: center;
    flex: auto;
    margin: 0 auto;

}
#titulo{
    text-align: center;
}
#enviar{
    background: greenyellow;
}
#divenviar{
    width: 100px;
    float: center;
    align-content: center;
    margin:  auto;
    margin-top: 15px;
}